// Couleurs
$color-primary:#e6e9e9;
$color-secondary: #d8dadacc;
$color-third: #e6e9e9fb;
$color-fourth: rgb(46, 45, 45);
$color-one:#9356DC;
$color-two: #FF79DA;
$color-three: #99E2D0;
$color-ico: rgb(128, 128, 128);