
@import "./utils/variables/variables";
@import './utils/mixins';
@import "./layout/header";
@import "./layout/footer";
@import "./base/fonts";
@import "./pages/btn";

a{
    list-style: none;
    text-decoration: none;
    color: black;
}

// Encart de recherche
.space__search{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space_bar_search{
    width: 100%;
    height: 35px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar_search{
    border: none;
    text-align: center;
    font-family: 'Roboto500Medium';
    background-color: transparent;
}

.one_t_s{
    font-family: 'Roboto900';
    font-size: x-large;
}

.two_t_s{
    font-family: 'Roboto100';
}

.three_t_s{
    height: auto;
}

.base_t_s{
    background: $color-third;
    text-align: center;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Espace process

.space_process{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.space_title_process{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title_process{
    font-family: 'Roboto900';
    padding-left: 15px;
}

.block_step{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.number{
    width: 10%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n_step{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-one;
    border-radius: 50px;
    position: relative;
    color: white;
    font-family: 'Roboto500Medium';
}

.step{
    width: 85%;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-primary;
    border-radius: 20px;
    margin-left: -20px;
    @include box-shadow;
}

.ico_s{
    padding-right: 10px;
    padding-left: 30px;
    color: $color-ico;
}

.text_s{
    font-family: 'RobotoBold';
}

.dis_flex{
    display: flex;
}

// Carte de restaurants 
.space_rest{
    width: 100%;
    height: auto;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
}

.title_rest{
    font-family: 'Roboto900';
    padding-left: 15px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.space_cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block_card{
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 25px;
}

.stick{
    position: absolute;
    width: 50px;
    height: auto;
    background-color: $color-three;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: 70%;
    border-radius: 3px;
}

.text_stick{
    @include color-variant ($color: $color-three);
    font-family: 'RobotoBold';
    font-size: 14px;
    padding: 3px;
}

.block_photo{
    width: 100%;
    height: 100%;
}

.photo{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 30px;
    @include box-shadow;
}

.m_one{
    background-image: url('images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

.m_two{
    background-image: url('images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
}

.m_three{
    background-image: url('images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

.m_four{
    background-image: url('images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
}

.block_text{
    width: 90%;
    height: 70px;
    position: absolute;
    background-color: white;
    margin-top: 230px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t_rest{
    height: 100%;
    width: 70%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.h_rest{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart{
    font-size: 30px;
    cursor: pointer;
    transition: all 5s ease-in-out;
    color: black;
        &:hover{
            color: transparent;
        }
}

.heart_full{
    font-size: 30px;
    position: absolute;
    color: transparent;
    cursor: pointer;
    transition: all 5s ease-in-out;
        &:hover{
            background: linear-gradient($color-one, $color-two);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
}

// Pages: Menu 
.f_return{
    position: absolute;
    margin-top: -45px;
    padding-left: 15px;
}

.enc_photo{
    width: 100%;
    height: 250px;
}

.m_photo{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.nom_restaurant{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   position: relative;
    margin-top: -50px;
    background-color: $color-primary;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.type_plat{
    width: 100%;
    height: auto;
    background-color: $color-primary;
    padding-left: 15px;
}

.ligne{
    height: 3px;
    width: 10%;
    background-color: $color-three;
}

.space_etiquette{
    width: 100%;
    height: auto;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
}

.etiquette_plat{
    display: flex;
    width: 90%;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    @include box-shadow;
    margin-bottom: 25px;
}

.plat{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 15px;
}

.prix_plat{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    transition: all 500ms ease-in-out;
}
.space_price{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(50px);
    transition: transform 500ms ease-in-out;
    &:active{
        transform: translateX(-10px);
    }
    &:active +.space_check{
        transform: scale(1, 1);
    }
}

.space_check{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transform: scale(0, 1);
    transition: transform 500ms ease-in-out;
}

.fa-check-circle{
    color: $color-check-end;
    transition: all 250ms ease-in-out;
}

.btn_comm{
    height: 150px;
}