
@import "./utils/variables/variables";
@import "./base/fonts";
@import "./layout/header";
@import "./layout/footer";
@import "./pages/btn";

// Encart de recherche
.space__search{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space_bar_search{
    width: 100%;
    height: 35px;
    background-color: $color-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar_search{
    border: none;
    text-align: center;
    font-family: 'Roboto500Medium';
    background-color: $color-primary;
}

.one_t_s{
    height: 80px;
    font-family: 'Roboto900';
    font-size: x-large;
}

.two_t_s{
    height: 100px;
    font-family: 'Roboto100';
}

.three_t_s{
    height: auto;
}

.base_t_s{
    background: $color-third;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Espace process

.space_process{
    width: 100%;
    height: auto;
}

.space_title_process{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.title_process{
    font-family: 'Roboto900';
    padding-left: 15px;
}

.block_step{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    margin: 20px;
}

.number{
    width: 10%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n_step{
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-one;
    border-radius: 50px;
    position: relative;
}

.step{
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-primary;
    border-radius: 20px;
    margin-left: -20px;
}

.ico_s{
    padding-right: 10px;
    padding-left: 20px;
}

.dis_flex{
    display: flex;
}

// Carte de restaurants 
.space_rest{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.space_cards{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.block_card{
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.block_photo{
    width: 100%;
    height: 100%;
}

.photo{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.m_one{
    background-image: url('images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

.m_two{
    background-image: url('images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg');
}

.m_three{
    background-image: url('images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
}

.m_four{
    background-image: url('images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg');
}

.block_text{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: white;
}

// Pages: Menu 

.enc_photo{
    width: 100%;
    height: 200px;
}

.nom_restaurant{
    width: 100%;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    position: absolute;
    margin-top: -50px;
    background-color: $color-primary;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}