.footer{
    background-color: $color_fourth;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.logo_f{
    text-align: start;
    color: white;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link_footer{
    padding-left: 15px;
    padding-bottom: 5px;
    color: white;
    display: flex;
}

.ico_f{
    padding-right: 10px;
}

.text_f{
    font-family: 'Roboto300Normal';
}