.footer{
    width: 100%;
    height: auto;
    background-color: $color_fourth;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.logo_f{
    text-align: start;
    color: white;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.link_footer{
    font-family: 'Roboto300Normal';
    font-size: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    color: white;
    display: flex;
}

.ico_f{
    padding-right: 10px;
}

@media screen and (min-width:426px) and (max-width:768px) {
 
    .footer{
        flex-direction: row;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-evenly;
    }

    .logo_f{
        text-align: initial;
        padding: 0;
    }

    .link_footer{
        padding: 0;
    }
}

@media screen and (min-width:769px) and (max-width:1440px) {
 
    .footer{
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .logo_f{
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0;
    }

    .link_footer{
        padding: 0;
    }
}