@mixin box-shadow {
    box-shadow: 0.1px 0.1px 10px $color-fourth;
}

@mixin box-shadow-dark {
    box-shadow: 0.1px 0.1px 10px $color-darkfourth;
}

@mixin color-variant ($color: $color-primary) {
    @if (lightness($color) <25%) {
        $color: lighten($color, 10%)   
    }@else{
        $color: darken($color, 50%)
    }
    color: ($color);
}

// Heart 
@mixin heart_transition {
    transition: all 250ms cubic-bezier(1,.01,.47,1);
}









