// Display

@mixin dfjccaic {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Ombres
@mixin box-shadow {
    box-shadow: 0.1px 0.1px 10px $color-fourth;
}

@mixin box-shadow-dark {
    box-shadow: 0.1px 0.1px 10px $color-darkfourth;
}

@mixin color-variant ($color: $color-primary) {
    @if (lightness($color) <25%) {
        $color: lighten($color, 10%)   
    }@else{
        $color: darken($color, 50%)
    }
    color: ($color);
}

// Spinner 
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes space_spin{
    0%{
        transform: scaleY(1);
    }
    25% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1);
    }
    75% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(0);
    }

}

// Apparition des plats 
@keyframes modif_with{
    0%{
        width: 20%;
    }
    25% {
        width: 40%;
    }
    50% {
        width: 40%;
    }
    75% {
        width: 40%;
    }
    100% {
        width: 40%;
    }
}

@keyframes view_plate{
    from{
        opacity: 0;
        transform: translateY(-200%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@mixin view_plate ($time:750ms) {
    animation: view_plate $time ease-in-out;
}

@media screen and (min-width:769px) and (max-width:1024px) {
   
    @keyframes view_plate{
        from{
            opacity: 0;
            transform: translateX(-200%);
        }
        to{
            opacity: 1;
            transform: translateX(0%);
        }
    }
}



