.btn{
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to left top, $color-one, $color-two);
    font-family: 'Roboto900';
    font-size: small;
    color: white;
    transition: all 1000ms;
}

.btn:hover{
    background: linear-gradient(to left top, $color-lightone, $color-lighttwo);
    @include box-shadow-dark;
}