.btn{
    width: 50%;
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to left top, $color-one, $color-two);
    font-family: 'Roboto900';
    font-size: small;
    color: $color-primary;
}